
/* TOP LEVEL ELEMENTS */
*{
  box-sizing: border-box;
  text-align: center;
}
html {
  height: 100%;
}

body {
  margin: auto;
  max-width: 600px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
}

h1{
  margin-bottom: 0;
}

form{
  width: 50%;
  padding: 0.1em 0;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 10px;
  height: 2em;
}

/* DIVS */
.div-nav-header {
  display: flex;
  justify-content: center;
}

.div-fixed-container {
  width: 65%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid black;
  gap: 1em;
  padding-bottom: 1em;
}

.div-result-field {
  display: flex;
  justify-content: center;
  gap: 4em;
}

.div-container-datefield{
  margin: 0.25em auto;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.div-option-buttons-container{
  margin: 1em auto;
  justify-content: center;
  display: flex;
  gap: 10px;
  width: 50%;
}

.div-container-first-date {
  display: flex;
  flex-direction: row;
}

.div-totals-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4em;
  margin: 0;
  padding: 0;
}

/* HEADER 3S */
.h3-nav {
  margin: 0 2em 0.75em 2em;
  color: grey;
}

.h3-nav-selected {
  color: black;
}

.h3-nav:hover{
  cursor: pointer;
}

.h3-nav-selected:hover{
  cursor: default;
}


/* INPUTS AND LABELS */
.p-input-label, .input-input-field{
  display: inline-block;
  text-align: right;
  width: 75%;
  margin: 0.25em 0;
  border: 1px solid grey;
  font-size: 1rem;
  padding: 1px 2px;
}

.p-input-label{
  cursor: pointer;
  background-color: #fafafa;
}

.p-fixed-rate{
  margin: auto;
}

.p-total-lot{
  margin: 0;
}

.p-total-amount{
  margin: 0;
}


/* BUTTONS */
.button-add {
  width: 50%;
  font-size: 1rem;
  margin: 10px;
  padding: 0.1em 0;
  height: 2em;

}

.button-remove{
  width: 25%;
  height: 75%;
  margin: auto;
  background-color: #e99090;
}

.button-submit, .button-reset{
  padding: 0.5em 0;
}

.button-submit{
  width: 75%;
  background-color: limegreen;
}

.button-reset{
  width: 25%;
  background-color: red;
}

.button-today {
  height: 25px;
  width: 25px;
  padding: auto;
  border-radius: 100%;
}




/* SMALL SCREENS */
@media screen and (max-width: 500px) {
  body{
    background-color: red;
  }
}